
    /* ---- Sections ---- */

section {
    position: relative;
    z-index: 1;
}


    /* ---- titre et bouttons sur la photo ---- */

#texte-photo-accueil {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    width: 80%;
    z-index : 3;
}

#texte-photo-accueil h1 {
  color : var(--color-blancPur);
}

    /* ---- Ombre en haut de l'image ---- */

#ombre::before {
    content: "";
    top : 0;
    left : 0;
    position: absolute;
    width: 100%;
    height: 50%;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.55), transparent);
    z-index: 2;
}

#accueil-section1:hover {
    background-color: rgba(0, 0, 0, 0.55);
}

#survol-section {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 0%;
    background: rgba(0,0,0,0.5);
    z-index: 2;
}

section:hover #survol-section {
    height: 100%;
}

      /* ---- Bouttons sur l'image ---- */

#boutton-photo-accueil {
  position : relative;
  top : 250px;
}

.boutton-photo-accueil {
  margin: 30px;
  margin-top: 0px;
}

      /* ---- Photo page d'accueil responsive ---- */

@media (max-width: 1024px) {
  #texte-photo-accueil h1 {
    font-size: 30px;
  }

  #boutton-photo-accueil {
    position : relative;
    top : 175px;
  }
}

@media (max-width: 768px) {
  #texte-photo-accueil h1 {
    font-size: 25px;
  }

  #boutton-photo-accueil {
    position : relative;
    top : 100px;
  }

  button {
    width : 100px;
    height : 30px;
    font-size: 14px;
  }
}

@media (max-width: 480px) {
  #texte-photo-accueil h1 {
    font-size: 15px;
  }

  #boutton-photo-accueil {
    position : relative;
    top : 45px;
  }

  button {
    width : 75px;
    height : 18px;
    font-size: 10px;
  }

    .boutton-photo-accueil {
        margin: 20px;
    }
}

      /* ---- Descriptions ---- */

.infos {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  width : 100%;
}

.imgAccueil {
  width: 96%;
  padding : 10px;
  clip-path: xywh(0 0px 100% 90% round 30% 0);
}

.texteDesc {
  width : 94%;
  text-align: justify;
  padding : 15px;
  margin-top : 30px;
}

      /* ---- Descriptions responsive ---- */

@media (max-width: 768px) {
  .infos {
    grid-template-columns: 1fr;
    width : 95%;
  }

  .imgAccueil {
    width: 100%;
  }

  .texteDesc {
    width: 100%;
    margin-top: 0;
  }
}

@media (max-width: 480px) {
  .infos {
    width : 90%;
  }
}

      /* ---- Chiffres clé ---- */

#chiffresCle {
  position : relative;
  width : 98%;
  left : 2%;
}

.chiffres-cle {
  margin : 5%;
  column-count: 3;
}

.chiffre {
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.6);
  width : 65%;
  background: var(--color-cyanTechnologique);
  padding: 35px 20px;
  border-radius: 12px;
  text-align : center;
}

      /* ---- Carrousel d'événements ---- */

#carrousel {
  overflow: hidden;
  position : relative;
  width : 98%;
  left : 2%;
}

.evenement { 
  display: none; 
  padding: 2rem; 
  border: 1px solid #7a7a7a; 
  border-radius: 12px; 
}

.evenement.active { 
  display: block; 
}

#dots { 
  display: flex; 
  gap: 8px; 
}

.dot { 
  width: 8px; 
  height: 8px; 
  border-radius: 50%; 
  background: #ccc; 
  transition: background .3s; 
}

.dot.active { 
  background: #333; 
}

#controls { 
  display: flex;
  gap: 8px; 
}